# Set the default editor

if [ -d "/Applications/Sublime Text 2.app" ]; then
    export EDITOR='s -w'
elif [ -f /usr/local/bin/mate ]; then
    export EDITOR='mate'
    export GIT_EDITOR='mate -wl1'
else
  export EDITOR="vim"
fi
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"